#loginCard {
  width: 60%;
  margin: 5% auto;
}
button.btn.btn-primary.form-control,
input.btn.btn-primary {
  width: 40;
  width: 40%;
  margin: auto;
  background: #f6d55c;
  border-color: #f6d55c;
  color: black;
}
ul.flashes {
  text-align: center;
  background-color: #f6d55c;
  padding: 1%;
  list-style: none;
}
#signUpLogo {
  width: 10%;
  margin: 0% 45%;
}
button.btn.btn-primary.form-control {
  width: 20%;
}

button.btn.btn-primary.form-control:hover,
input.btn.btn-primary:hover {
  background: #ffa600;
  border-color: #ffa600;
}

input.form-control {
  width: 40%;
  margin: auto;
  text-align: center;
}
button.btn.btn-primary.form-control:focus,
input.form-control:focus {
  border-color: #ffa600;
}

.mainLogo {
  width: 20%;
  margin: 0% 40%;
}
.form-group.col-md-6.mb-2 {
  margin: auto;
}

#signUpBody {
  margin-top: 5%;
}

.card {
  border: 1px solid #fff;
}
@media only screen and (max-width: 600px) {
  #loginCard {
    width: 100%;
    margin-top: 30%;
  }
  button.btn.btn-primary.form-control,
  input.btn.btn-primary,
  input.form-control {
    width: 100%;
  }
  #signUpLogo {
    width: 30%;
    margin: 0% 35%;
  }
  #signUpBody {
    margin-top: 30%;
  }
}
table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  padding: 0.25rem;
  text-align: left;
  border: 1px solid #ccc;
}
tbody tr:nth-child(odd) {
  background: #eee;
}
