textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}


#loginCard {
  width: 60%;
  margin: 5% auto;
}

.card {
  width: 50%;
  margin: auto;
  height: 500px;
}
.card-body {
  background: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 6%) 0px 10px 40px 0px;
  border-radius: 4px;
  padding-top: 10%;
}

button.btn.btn-primary.form-control,
input.btn.btn-primary {
  width: 60%;
  margin: auto;
  background: linear-gradient( 90deg
, #f0b90b 0%, #fbda3c 100%);
  border-color: #f6d55c;
  color: black;
  box-shadow: 0px 10px 20px 0px rgb(240 185 10 / 30%);
}
ul.flashes {
  text-align: center;
  background-color: #f6d55c;
  padding: 1%;
  list-style: none;
}
#signUpLogo {
  width: 10%;
  margin: 0% 45%;
}
button.btn.btn-primary.form-control {
  width: 20%;
}

button.btn.btn-primary.form-control:hover,
input.btn.btn-primary:hover {
  background: #fae88d;
  border-bottom: 1px solid #fae88d;
}

input.form-control {
  width: 60%;
  margin: auto;
  border-radius: 0px;
  text-align: left;
  border:none;
  border-bottom: 1px solid #000;
}
button.btn.btn-primary.form-control:focus,
input.form-control:focus {
  border-color: #f0b90b;
}

.mainLogo {
  width: 40%;
  margin: 0% 30%;
}
.form-group.col-md-6.mb-2 {
  margin: auto;
}

#signUpBody {
  margin-top: 5%;
}

.card {
  border: 1px solid #fff;
}
#mainBody {
  background-color: #f7f7f7;
  font-family: 'DINPro-Bold', 'IBMPlexSans-SemiBold', -apple-system, 'PingFang SC', 'Microsoft YaHei', 'WenQuanYi Micro Hei', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial, 'Segoe UI', sans-serif;
}
@media only screen and (max-width: 600px) {
  .card { 
    width: 80%;
  }
  #mainBody {
    background-color: #fff;
  }
  .card-body {
    background: rgb(255, 255, 255);
    box-shadow: none;
    border-radius: none;
  }

  #loginCard {
    width: 100%;
    margin-top: 30%;
  }
  button.btn.btn-primary.form-control,
  input.btn.btn-primary,
  input.form-control {
    width: 100%;
  }
  #signUpLogo {
    width: 30%;
    margin: 0% 35%;
  }
  #signUpBody {
    margin-top: 30%;
  }
}
table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  padding: 0.25rem;
  text-align: left;
  border: 1px solid #ccc;
}
tbody tr:nth-child(odd) {
  background: #eee;
}
