{% include "library.html" %} {% block content %}

<h1 class="text-center">Welcome to Your Account!</h1>
<br />
<h2>Your Loaned Books!</h2>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Borrowed Date</th>
      <th>Due Date</th>
      <th>Check Overdue</th>
    </tr>
  </thead>
  <tbody>
    {% for book in borrowedbooks %}
    <tr>
      <td>{{book[0]['_id']}}</td>
      <td>{{book[0]['title']}}</td>
      <td>{{ currDates[loop.index-1][0] }}</td>
      <td>{{ currDates[loop.index-1][1] }}</td>
      <td>{{ oustandingCosts[loop.index-1] }}</td>

      <td>
        <form action="{{url_for('returnBook')}}" method="POST">
          <button
            value="{{book[0]['_id']}}"
            name="_id"
            type="submit"
            width="100%"
            class="btn btn-primary form-control viewmore"
          >
            Return Book
          </button>
        </form>

        <form action="{{url_for('extendLoan')}}" method="POST">
          <button
            value="{{book[0]['_id']}}"
            name="_id"
            type="submit"
            width="100%"
            class="btn btn-primary form-control viewmore"
          >
            Extend Loan
          </button>
        </form>
      </td>
    </tr>

    {% endfor %}
  </tbody>
</table>

<br />
<h2>Your Reserved Books</h2>
<br />
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th style="width: 60%">Description</th>
    </tr>
  </thead>
  <tbody>
    {% for book in reservedBooks %}
    <tr>
      <td>{{book[0]['_id']}}</td>
      <td>{{book[0]['title']}}</td>
      <td>{{book[0]['longDescription']}}</td>
      <td>
        <form action="{{url_for('reserveToBorrow')}}" method="POST">
          <button
            value="{{book[0]['_id']}}"
            name="_id"
            type="submit"
            width="100%"
            class="btn btn-primary form-control viewmore"
          >
            Loan Book
          </button>
        </form>
        <form action="{{url_for('cancelReservation')}}" method="POST">
          <button
            value="{{book[0]['_id']}}"
            name="_id"
            type="submit"
            width="100%"
            class="btn btn-primary form-control viewmore"
          >
            Cancel reservation
          </button>
        </form>
      </td>
    </tr>

    {% endfor %}
  </tbody>
</table>

<br />

<h2>Overdue Payments</h2>

{% endblock %}
