{% include "navBar.html" %} {% block content %} {% for i in result %}
<body>
  <div class="bookpic">
    <img
      src="{{i['thumbnailUrl']}}"
      height="250"
      style="padding: 10px; float: right"
    />
  </div>
  <div class="bookdesc" style="padding: 10px">
    <p>Title: {{i['title']}}</p>
    <p>ISBN: {{i['isbn']}}</p>
    <p>Number of pages: {{i['pageCount']}}</p>
    <p>Date of publication: {{i['publishedDate']}}</p>
    <p>Authors: {{i['authors']}}</p>
    <p>Categories: {{i['categories']}}</p>
  </div>
  <div style="padding: 10px">
    <p>Book Overview: {{i['longDescription']}}</p>
  </div>

  <!--If you already have this book somewhere reserved or borrowed-->

  {% if userHasBooks%}
  <p>You already have this book in your borrowed or reserved.</p>
  <a href="{{url_for('account')}}">
    <button
      value="{{i['_id']}}"
      name="_id"
      type="button"
      width="100%"
      class="btn btn-primary form-control viewmore"
    >
      View your books
    </button>
  </a>
  {% endif %}

  <!--if it is available-->
  {% if availability and reserved and not userHasBooks %}
  <form action="{{ url_for('borrowSuccess')}}" method="POST">
    <button
      value="{{i['_id']}}"
      name="_id"
      type="submit"
      width="100%"
      class="btn btn-primary form-control viewmore"
    >
      Borrow
    </button>
  </form>
  {% endif %}

  <!--If it is not avail but reservable-->
  {% if not availability and reserved and not userHasBooks %}
  <form action="{{url_for('reservationSuccess')}}" method="POST">
    <button
      value="{{i['_id']}}"
      name="_id"
      type="submit"
      width="100%"
      class="btn btn-primary form-control viewmore"
    >
      Reserve
    </button>
  </form>
  {% endif %}

  <!--Not avial and reservable and you dont own it-->
  {% if not availability and not reserved %}
  <a href="{{url_for('library')}}">
    <button class="btn btn-primary form-control viewmore" width="100%">
      This book has already been reserved. Check back next time? Lets go back!
    </button></a
  >

  {% endif %}

  <!-- avail and reserved , someone chope it alr-->
  {% if availability and not reserved %}
  <a href="{{url_for('library')}}"
    ><button class="btn btn-primary form-control viewmore" width="100%">
      One step too late! Someone has already reserved it! Lets go back!
    </button></a
  >
</body>

<style>
  body {
    background-image: url(../static/images/pure-white-background-85a2a7fd.jpg);
    background-size: cover;
    background-attachment: fixed;
  }
</style>

{% endif %} {% endfor %} {% endblock %}
