{% include "library.html" %} {% block content %}

{% for i in result %}
<p>{{i['title']}}</p>
<p>{{i['isbn']}}</p>
<p>{{i['pageCount']}}</p>
<p>{{i['publishedDate']}}</p>
<p>{{i['thumbnailUrl']}}</p>
<p>{{i['longDescription']}}</p>
<p>{{i['authors']}}</p>
<p>{{i['categories']}}</p>


<!--If you already have this book somewhere reserved or borrowed-->

{% if userHasBooks%}
     <p>You already have this book in your borrowed or reserved.</p>
{% endif %}

<!--if it is available-->
{% if availability and not userHasBooks %}
<form action="{{ url_for('borrowSuccess')}}" method="POST">
    <button
      value="{{i['_id']}}"
      name="_id"
      type="submit"
      width=100%
      class="btn btn-primary form-control viewmore"
    >
      BorrowBook
    </button>
  </form>
{% endif %}


<!--If it is not avail but reservable-->
{% if not availability and reserved and not userHasBooks %}
<form action="{{url_for('reservationSuccess')}}" method="POST">
    <button
      value="{{i['_id']}}"
      name="_id"
      type="submit"
      width=100%
      class="btn btn-primary form-control viewmore"
    >
      Reserve
    </button>
  </form>
{% endif %}


<!--Not avial and reservable and you dont own it-->
{% if not availability and not reserved %}
<p>rabak bro</p> 
{% endif %}

{% endfor %}


{% endblock %}