{% extends "base.html" %} {% block content %}
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('library')}}"
        ><img
          id="navbarLogo"
          src="{{url_for('static',
      filename='images/logo_Nav.png')}}"
          align="middle"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse absolute-right" id="navbarNav">
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('account') }}">Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}">Log Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="jumbotron"></div>
  <nav class="navbar navbar-light bg-transparent">
    <div class="container-fluid">
      <form
        class="mx-2 my-auto d-inline w-100"
        method="POST"
        action="{{ url_for('results')}}"
      >
        <div class="mb-2 row">
          <input
            class="form-control text-center"
            type="search"
            placeholder="Book Title"
            aria-label="Search"
            name="bookSearch"
          />
        </div>
        <div id="advanced_search" style="display: none">
          <div class="mb-2 row">
            <input
              class="form-control text-center"
              type="search"
              placeholder="Author"
              aria-label="Search"
              name="author"
            />
          </div>
          <div class="mb-2 row">
            <input
              class="form-control text-center"
              type="search"
              placeholder="Category"
              aria-label="Search"
              name="category"
            />
          </div>
          <div class="mb-2 row">
            <input
              class="form-control text-center"
              type="search"
              placeholder="Year of Publication"
              aria-label="Search"
              name="year"
            />
          </div>
        </div>
        <div class="row">
          <button
            type="button"
            class="btn btn-primary form-control"
            onclick="toggle_display()"
          >
            Advanced
          </button>
          <button class="btn btn-primary form-control" type="submit">
            Find Book!
          </button>
        </div>
      </form>
    </div>
  </nav>
</body>

<script>
  function toggle_display() {
    el = document.querySelector("#advanced_search");

    if (el.style.display == "none") {
      el.style.display = "inline";
      el.style.height = "100%";
    } else {
      el.style.display = "none";
    }
  }
</script>

<style>
  body {
    background-image: url(../static/images/mikolaj-DCzpr09cTXY-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
  }
</style>

{% endblock %}
