{% extends "base.html" %} {% block content %}
<div class="card-wrapper" id="loginCard" >
  <div class="card">
    <div class="card-body">
      <h1 class="card-title text-center">Welcome to the Phenomenal Library</h1>
      <br />
      <h2 class="card-subtitle text-center">Login</h2>
      <br />
      <form name="loginpage" method="POST" action="/library">
        <div class="mb-3 row">
          <label for="username" class="col-sm-2 col-form-label">Username</label>
          <div class="col-sm-10">
            <input type="username" name="user" class="form-control" />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="password" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-10">
            <input type="password" name="pass" class="form-control" />
          </div>
        </div>
        <div class="mb-3 row">
          <input
            type="submit"
            value="Log In"
            class="btn btn-primary"
            name="ok"
          />
        </div>
      </form>
      <form name="signuppage" method="POST" action="/signup">
        <br />
        <h3 class="card-subtitle text-center">
          Don't have an account? Sign up here!
        </h3>
        <br />
        <div class="mb-3 row">
          <input
            type="submit"
            value="Sign Up"
            class="btn btn-primary"
            name="sign"
          />
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
