{% extends "base.html" %} {% block content %}
<div class="card-wrapper" id="loginCard" >
  <div class="card">
    <div class="card-body">
      <!--<h1 class="card-title text-center">Phenomenal Library</h1> -->
      <img class="mainLogo" src="{{url_for('static', filename='images/tempLogo.png')}}" align="middle" />
      <br />
      <!--<h2 class="card-subtitle text-center">Login</h2>-->
      <br />
      <form name="loginpage" action="{{ url_for('login')}}" method="POST">
        <div class="mb-3 row">
          
            <input type="username" 
                   name="userEmail" 
                   id="userEmail"
                   class="form-control"  
                   placeholder="Email" 
                   style="text-align:center;" />
          
        </div>
        <div class="mb-3 row">
                 
            <input type="password" 
                   name="userPassword" 
                   id="userPassword"
                   class="form-control" 
                   placeholder="Password" 
                   style="text-align:center;" />
          
        </div>
        <div class="mb-3 row">
          <input
            type="submit"
            value="Log In"
            class="btn btn-primary"
            name="ok"
          />
        </div>
      </form>
      
       
        <p class="card-subtitle text-center">
          Don't have an account? <a href="/signup">Sign up here!</a>
        </p>
        <br />

    </div>
  </div>
</div>

{% endblock %}
