{% extends "base.html" %} {% block content %}
<div class="card-wrapper" id="loginCard" >
  <div class="card">
    <div class="card-body">
      <!--<h1 class="card-title text-center">Phenomenal Library</h1> -->
      <img class="mainLogo" src="{{url_for('static', filename='images/tempLogo.png')}}" align="middle" />
      <br />
      <!--<h2 class="card-subtitle text-center">Login</h2>-->
      <br />
      <form name="loginpage" method="POST" action="/library">
        <div class="mb-3 row">
          
            <input type="username" name="user" class="form-control"  placeholder="Email" style="text-align:center;" />
          
        </div>
        <div class="mb-3 row">
         
         
            <input type="password" name="pass" class="form-control" placeholder="Password" style="text-align:center;" />
          
        </div>
        <div class="mb-3 row">
          <input
            type="submit"
            value="Log In"
            class="btn btn-primary"
            name="ok"
          />
        </div>
      </form>
      <form name="signuppage" method="POST" action="/signup">
       
        <p class="card-subtitle text-center">
          Don't have an account? <a href="/signup">Sign up here!</a>
        </p>
        <br />
        <!--<div class="mb-3 row">
          <input
            type="submit"
            value="Sign Up"
            class="btn btn-primary"
            name="sign"
          />
        </div> -->
      </form>
    </div>
  </div>
</div>

{% endblock %}
