{% extends "base.html" %} {% block content %}

<div class="card">
    <div class="card-header text-center">Sign Up</div>
    <div class="card-body">
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Username</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email" />
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Password</label>
                    <input type="password" class="form-control" id="inputPassword4" placeholder="Password" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="intputFirstName">First Name</label>
                    <input type="name" class="form-control" id="inputFirstName" placeholder="Lundy" />
                </div>
                <div class="form-group col-md-6">
                    <label for="inputLastName">Last Name</label>
                    <input type="name" class="form-control" id="inputLastName" placeholder="Goh" />
                </div>
            </div>
            <div class="form-group">
                <label for="inputAddress">Address 1</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" />
            </div>
            <div class="form-group">
                <label for="inputAddress2">Address 2</label>
                <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" />
            </div>
            <div class="form-group">
                <label for="inputZip">Zip-Code</label>
                <input type="text" class="form-control" id="inputZip" placeholder="123456" />
            </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit!</button>
    </form>
</div>
<div class="card-footer text-muted text-center">PHENOMENAL!!!</div>
</div>

{% endblock %}